.header {
  position: fixed;
  top: 0;
  padding: 10px;
  width: 90vw;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
}

.mainSection {
  margin: 38vh 0px;
}

.menu {
  font-size: 28px;
}

.flag {
  font-size: 28px;
  vertical-align: middle;
}
